:root {
    --background: rgb(224, 234, 247);
    --header-background: rgb(254, 251, 245);
    --primary-font: Corbel, 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'DejaVu Sans',
        'Bitstream Vera Sans', 'Liberation Sans', Verdana, 'Verdana Ref', sans-serif;
}

body {
    font-family: Anybody;
    background: var(--background);
    display: grid;
    grid-template-rows: auto 1fr;
}

html {
   font-size: 10px;
}

/* main {
    height: 1500px;
    background-color: blanchedalmond;
    display: flex;
    justify-content: space-evenly;
    align-items: end;
    flex-direction: column;
} */

.cool-box {
    display: inline-block;
    background-color: cyan;
    border: solid 2px magenta;
    background-image: url('https://www.placebear.com/200/200');
    background-position: center;
    background-size: 10px;
    background-repeat: no-repeat;
}


header {
    position: sticky;
    top: 0;
    padding: 15px;
    height: 80px;

    display: flex;
    align-items: center;
    gap: 10px;

    background-color: var(--header-background);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}


main {
    width: 940px;
    margin: 0 auto;
    height: 100vh;
    display: grid;
    grid-template-columns: 20% 70% 10%;
}


* {
    border: solid 1px black;
}

.left {
    display: grid;
}

.middle {
    display: grid;
    grid-template-rows: 10% 90%;
}

.bottom {
    display: grid;
    grid-template-columns: 40% 40% 20%;
}

.community div {
    height: 35%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.community div p {
    margin: 0;
    height: 30px;
}